*{
    background-color: antiquewhite;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
}
p{
    padding-left: 39px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
h3{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
}
img{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 400px;
    width: 600px;

}